.main__title {
    padding: 2rem 0rem;
}

.main__h1 {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.main__text {
    font-weight: 300;
    font-size: 0.875rem;
    line-height: 1.5;
}